body{
    font-family: inter;
    font-weight: 300;
}

.loading-text{
    display: none;
    font-family: inter;
    background: #e3e3e3;
    color: #4e4e4e;
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    z-index: 9999;
    font-size: 13px;
    opacity: 0.8;
    font-weight: 600;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; 
}


h1{
  padding-top: 5px;
  padding-bottom: 5px;
}

.content h2:first-of-type{
    padding-top: 5px!important;
    padding-bottom: 10px;
    margin-top: 5px!important;
}

.content h2:not(:first-of-type){
    padding-top: 30px!important;
    padding-bottom: 10px;
}

hr {
    background-color: #ebebeb;
    border: none;
    display: block;
    height: 1px;
    margin: 1.5rem 0;
}

.logo {
    padding: 0px 20px 0px 5px !important;
}

.navbar-item img {
    max-height: 35px !important;
}

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    border-left: 1px solid #f0f0f0;
    padding-left: 20px;
    padding-bottom: 150px;
}

.markdown-body img{
    border: 1px solid #f2f2f2;
    text-align: center;
    margin: auto;
    display: block;
}

.code-block code{
    font-family: Roboto Mono;
}

.code-block{
    border-radius: 8px;
    padding: 20px 20px!important;
    border: 1px solid #f3f3f3;
}

.inline-code{
    border: 1px solid #f2f2f2;
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 1px 6px 2px 6px;
    font-size: 0.9rem;
    color: #FC384C;
    font-weight: 400;
    font-family: Roboto Mono;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
}

.lvl1{
    margin-left: 15px;
}

.lvl2{
    margin-left: 20px;
}

.lv13{
    margin-left: 30px;
}

.lv14{
    margin-left: 40px;
}

.menu-list a{
    margin: 1px;
    padding: 1px 5px 3px;
}

.menu-list a.is-active {
    background-color: #48c78e!important;
    color: #fff!important;
    font-weight: 600!important;
}

.menu-list{
    /*border-left: 2px solid #f3f3f3;*/
    margin: 0px 0px 0px 5px!important;
}

.menu-list li ul {
    border-left: 0px solid #f8f8f8;
}

.menu-item{
    padding: 0px 0px 2px!important;
    margin: 0px!important;
    font-size: 13px;
    /*border-bottom: 1px solid #f2f2f2;*/
    line-height: 1.1;
}


.menu-group{
    padding-top: 2px;
    margin-left: 0px;
}

/** **/
.menu-group .menu-item{
    display: none;
}

.menu-group .menu-item.is-active, .menu-group.is-active .menu-item{
    display: block!important;
}
/** **/
.menu-group-title{
    cursor: pointer;
}

.menu-group>.menu-group-title{
    text-transform: uppercase;
    font-size: 12px!important;
    font-weight: 600!important;
    color: #4f5a66;
    padding-bottom: 2px;
}

.menu-group>.menu-group-title>.collapse{
    display: none;
}

.menu-group>.menu-group-title>.expand{
    display: inline-block;
}

.menu-group.is-active>.menu-group-title>.collapse{
    display: inline-block;
}

.menu-group.is-active>.menu-group-title>.expand{
    display: none;
}
/** **/

.menu {
    position: sticky;
    display: inline-block;
    vertical-align: top;
    max-height: calc(100vh - 40px);
    overflow-y: auto;
    top: 0;
    bottom: 0;
}


.header-bar {
    border-bottom: 1px solid #f0f0f0;
}

.table-of-contents-title{
    padding-top: 10px;
    padding-left: 10px;
    font-weight: 600;
    font-size: 13px;
}

.table-of-contents {
    border-left: 1px solid #f0f0f0;
    padding-left: 10px;
    padding-top: 10px;
}

.table-of-contents a{
    color: #637288;;
}


.table-of-contents li {
    padding-top: 3px;
    border-top: 1px solid #f3f3f3;

}

.table-of-contents a:hover {
    color: darkblue;
}



.table-of-contents a:hover {
    color: darkblue;
}

.table-of-contents .h1 {
    margin-left: 0;
    font-size: 13px;
    font-weight: 500!important;
}

.table-of-contents .h2 {
    margin-left: 10px;
    font-size: 13px;
    font-weight: 500!important;
}

.table-of-contents .h3 {
    margin-left: 20px;
    font-size: 12px;
    font-weight: 400!important;
}

.table-of-contents .h4 {
    margin-left: 30px;
}

.table-of-contents .h5 {
    margin-left: 40px;
}

.table-of-contents .h6 {
    margin-left: 50px;
}

/*** ****/
#searchDialog{
    min-height: 400px;

}

.search-item{
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 4.2em;
    line-height: 1.25em;
    padding-left: 5px;
}

.modal .modal-card{
    top: 50px;
    position: absolute;
}

.image-caption {
    width: 100%;
    font-size: 14px;
    color: #9f9f9f;
    font-style: italic;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 7px;
}

.side-menu{
    padding-left: 0px;
}

@media only screen and (max-width: 600px) {
    .side-menu{
        padding-left: 30px!important;
    }
  }
